# Created by .ignore support plugin (hsz.mobi)
### npm2 template
.idea/*

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

tsconfig.json
#package-lock.json

test

.github
.gitkeep

/.*

test
tests

.github
.gitkeep

/.*

/~*

__test__
__tests__### test template
*.spec.ts
*.spec.js
*.spec.js.map
*.test.ts
*.test.js
*.test.js.map### git2 template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

package-lock.json

test/**/*.js
test/**/*.d.ts
test/*.js
test/*.d.ts
test/temp*

tests/**/*.js
tests/**/*.d.ts
tests/*.js
tests/*.d.ts
tests/temp*### Example user template template
### Example user template

# IntelliJ project files
*.iml
gen### temp template
/~*
~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

/*.log
/*.lock

*.tmp

*.js
*.d.ts
!/.gitignore
!/.idea/runConfigurations/
!/.idea/runConfigurations/*
!/.idea/idea-cjk-conv.iml
!/.idea/modules.xml
!/.gitmodules
/out/
